name: Build

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
      - name: Build tweak
        run: |
          make clean package
      - name: Upload build output
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: ./
